body{
    background-color: rgb(144, 80, 204);
    
}
ul #barra, li{
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: white;
    padding: 9px;
}
form #formu, input {
    display: block;
    padding: 7px;
    margin-right: 50%;
    margin-left: 50%;
    margin-top: 2%;
    
}
 div #cubo, p{
    margin-top: 1px;
    background-color: aqua;
    padding: 99px;
    border-style: solid;
 }